<p-card header="S'identifier">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitLoginForm()"
   class="p-7 pt-3 pb-3 bg-blue-50 border-round-3xl">
    <div class="formgrid grid">
      <!-- Email Input -->
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label htmlFor="email">Adresse électronique *</label>
          <input
            type="text" 
            id="email"
            formControlName="email"
            pInputText 
          >
        </div >
      </div>
      <!-- Password Input -->
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label htmlFor="password">Mot de passe *</label>
          <input
            type="text" 
            id="password"
            formControlName="password"
            pInputText
          >
        </div>
      </div>
    </div>

    <div class="grid mt-3" style="display: flex; justify-content: flex-end">
      <p-button type="submit" label="Envoyer" icon="pi pi-check"></p-button>
      <p-button type="button" label="Anuler" icon="pi pi-times"
        styleClass="p-button-secondary"
        class="ml-3"></p-button>
  </div>

  </form>
</p-card>