<div class="grid">
  <div class="col">
    <div (click)="nagigateTo('formulaire-medical')"
      class="bg-pink-300	font-bold border-round m-2 flex align-items-center justify-content-center tile"
      style="min-width: 200px; min-height: 200px">
      <span class="tileTxt">VOIR LES DOSSIERS MEDICAUX</span>
    </div>
  </div>

  <div class="col">
    <div (click)="nagigateTo('calendrier-medecin')"
      class="bg-yellow-300	 font-bold border-round m-2 flex align-items-center justify-content-center tile"
      style="min-width: 200px; min-height: 200px">
      <span class="tileTxt">MANAGEZ VOS RENDEZ-VOUS </span>
    </div>
  </div>

  <div class="col">
    <div (click)="nagigateTo('formulaire-medical')"
      class="bg-teal-300	 font-bold border-round m-2 flex align-items-center justify-content-center tile"
      style="min-width: 200px; min-height: 200px">
      <span class="tileTxt">ACTION INCONNUE</span>      
    </div>
  </div>
  

</div>
