<h1>Nihira Techiees</h1>
<h2>Angular 15 - Material UI Tutorial</h2>

<!-- Cards with media area -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Formulaire-Medical</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>        
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content routerLink = 'formulare-medical'>
        <button [routerLink]="'home'"  routerLinkActive="active" mat-button><mat-icon matListIcon>home</mat-icon> Home</button>
    </mat-card-content>
  </mat-card>